@font-face {
  font-family: 'Rock3D-Regular';
  src: url('./Rock3D-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./icon.png');
  font-family: 'Rock3D-Regular';
}